@media(max-width: 1200px) {
    #head-h1{
        font-size: 65px;
    }
    #main-line-child{
        width: 90%;
    }
    #section-cards{
        margin-top: 50px;
        padding: 0;
    }
    #cards{
        height: 400px;
    }
    #cards-text{
        font-size: 16px;
    }
    #order-text{
        font-size: 70px;
    }
    #main-line-2{
        margin-top: 100px;
    }
}

@media(max-width: 1025px) {
    #head-l{
        gap: 5px;
    }
    #head-ul{
        gap: 4px;
    }

    #head-a{
        font-size: 18px;
    }
    #head-h1{
        font-size: 50px;
    }
    #order-btn{
        padding: 20px 50px;
        font-size: 20px;
    }
    #cont-brand-logo{
        height: 400px;
    }
}

@media(max-width: 992px) {
    #head-ul{
        gap: 0;
    }
    #head-a{
        font-size: 16px;
    }
    #main-line-child{
        width: 85%;
    }
    #order-text{
        font-size: 60px;
    }
    #head-reklam{   
        flex-direction: column;
    }
    #head-reklam-child{
        width: 100%;
    }
    #section-cards{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media(max-width: 880px) {
    #head-ul{
        display: none;
    }
    #hide{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 50px;
    }

    #hide h1{
        position: relative;
        z-index: 2;
    }

    #hide img{
        bottom: 0;
        right: 0;
        position: absolute;
        height: 300px;
        z-index: 0;
    }
}

@media(max-width: 768px) {
    #have-product{
        flex-direction: column;
    }
    #section-cards{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #cards img{
        height: 70%;
    }
    #heave-product-child{
        flex-direction: column;
    }
}

@media(max-width: 600px) {
}